<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style.css">
    <title>Show</title>
</head>
<body>
    <h1>This is the <%= badge.title %> badge</h1>
    <ul>
        <li>Type: <%= badge.badgeType %></li>
        <li>Colors: <%= badge.colors %></li>
        <li>Difficulty: <%= badge.difficulty %></li>
    </ul>
</body>
</html>